@page
@model WebApp.Pages.MyAllOrdersModel
@{
}


<body>
<h1>Your Orders</h1>
<p> Your name is @User.Identity.Name</p>
<form method="POST">
    <div class="countainer">
        <table method="POST" class="table">
            <tr>
                    <th>order id </th>

                    <th>user </th>
                    <th>Product name</th>
                <th>Total price </th>
                <th>Date of order </th>
                <th>Delivery type </th>
                <th>Status </th>
               







            </tr>

@{
                   
                    foreach (var item in @Model.orders.OrderByDescending(x => x.DateOfOrder))
{
    string deliveryType = item.Delivery.GetType().Name;
    deliveryType = deliveryType.Replace("EntitiesLayer.", "");
    <tr>
                            <td>@item.Id</td>

        <td>@item.User.Username</td>
        <td>
            @{
                int count = 0;
                foreach (var product in item.Products)
                {
                    count++;
                    @product.Item
                    if (count < item.Products.Count())
                    {
                        @Html.Raw(",")
                    }
                }
            }
        </td>
        <td>@item.TotalPrice</td>
        <td>@item.DateOfOrder</td>
        <td>@deliveryType</td>
        <td>@item.Status</td>
    </tr>
}
}
               
</table>
</div>
</form>

    <div>
        @ViewData["Message"]
    </div>


    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>