@page
@model WebApp.Pages.MyOrdersModel
@{
}

<h1>Your Orders</h1>



<p> Your name is @User.Identity.Name</p>
<form method="post">
    <div class="countainer">
        <table method="GET" class="table">
            <tr>
                <th>Product id</th>
                <th>Product name</th>
                <th>Product unit</th>
                <th>Product price</th>
                <th>Category name </th>






            </tr>

            @{

                foreach (var item in @Model.orderDTO.Products)
                {
                    <tr>


                        <td > <input asp-for="orderDTO.Products" type="checkbox" id="id"  value="@item.Id"></td>
                        <td>@item.Item</td>
                        <td>@item.Unit</td>
                        <td>@item.Price</td>
                        <td>@item.Category.Name</td>



                    </tr>
                }
            }
            @*



            *@

        </table>
    </div>
    <input href="/MyOrders" type="submit" value="Submit" asp-page-handler="Submit" />
</form>
