@page
@model WebApp.Pages.MyOrderModel
@{
}




<body>
<h1>Your Orders</h1>
<p> Your name is @User.Identity.Name</p>
    
    <div class="countainer">
        <table  class="table">
            <tr>
                <th>Product id</th>
            
                <th>Product name</th>
                <th>Product amount</th>
                <th>Product price</th>
                <th>Total price </th>              
                <th>Operation </th>
                







            </tr>

                @{
                    foreach (var item in @Model.productsInCart.Distinct()){
                  
                       
                    
                    <tr>


                        <td>  <input  type="text" value="@item.Id" id="" placeholder="@item.Id"> </td>
                        

                       

                        <td> <input  type="text" value="@item.Item" id="" placeholder="@item.Item">  </td>
                        

                            <td><input  value=@Model.productsInCart.Count(x => x.Id == item.Id) /> </td>
                       

                        <td><input  type="text" value="  @item.Price" id="" placeholder="@item.Item * @item.Amount">  </td>


                            <td> <input  value=@((@Model.productsInCart.Count(x=> x.Id == item.Id) * item.Price).ToString("0.00")) >  </td>

                          <td>
                        <form asp-page-handler="DeleteProduct" method="post">
                            <button type="submit" class="btn btn-default" name="minus1" value="@item.Id">Delete from cart</button>
                        </form>

                        </td>





                        </tr>
                    }
                }

           



            

        </table>
    </div>
 
    @{
        decimal total = 0;
        foreach (var item in Model.productsInCart)
            {
                total += item.Price;
                
            }
            <h1> total price : @total </h1>
    }

      



@*
    <form method="post">
    
    
        
       
               
                

                            
<div>

   
                     
                        <label>Hour</label><br>
            <select asp-for="  homeDeliveryDTO.Hour " >
                          
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>

                           
                        </select><br>
                        <label>Minutes</label><br>
            <select asp-for=" homeDeliveryDTO .Minutes" >

                <option value="between 00 and 15 minutes ">between 00 and 15 minutes</option>
                <option value="between 15 minutes and 30 minutes">between 15 minutes and 30 minutes</option>
                <option value="between 30 minutes and 45 inutes">between 30 minutes and 45 inutes</option>
                <option value="between 45 minutes  and 00 minutes">between 45 minutes  and 00 minutes</option>

                            
                        </select>
                        <label>Date</label><br>
        
            
                        <label>Address</label><br>

            <input asp-for=" homeDeliveryDTO.Address" type="text"  placeholder=" type your full address"><br>
      

       
    
    </div>

    
    <div class="col-sm-offset-2 col-sm-10">
        <button  type="submit" class="btn btn-default">Submit</button>
    </div>

    </form>*@

@*   <label>Location</label><br>


                //<select asp-for="orderDTO.Delivery" name="Location">
                        //    @foreach (var location in Model.Locations)
                        //    {
                        //        <option value="@location">@location.Name</option>
                        //        <option value="@location">@location.Address</option>

                        //    }
                //</select>*@
           @*  /////////////////////////////////////////////////  *@
            <select id="state" name="state">
                <option value="">--- Please Select ---</option>
                <option value="nsw">Home delivery</option>
                <option value="qld">Pick up delivery</option>
            </select>

   <form method="post" id="form-nsw" class="state-form" style="display:none;">                        
        <div>                       
            <label>select an hour</label><br>
            <select asp-for="  homeDeliveryDTO.Hour " >                          
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>                           
            </select><br>
            <label>between which period</label><br>
            <select asp-for=" homeDeliveryDTO .Minutes" >
                    <option value="between 00 and 15 minutes ">between 00 and 15 minutes</option>
                    <option value="between 15 minutes and 30 minutes">between 15 minutes and 30 minutes</option>
                    <option value="between 30 minutes and 45 inutes">between 30 minutes and 45 inutes</option>
                    <option value="between 45 minutes  and 00 minutes">between 45 minutes  and 00 minutes</option>                          
            </select><br>
                
            <label>your address</label><br>
            <input asp-for=" homeDeliveryDTO.Address" type="text"  placeholder=" type your full address"><br>
        </div>
    
        <div class="col-sm-offset-2 col-sm-10">
            <button  type="submit" class="btn btn-default">Submit</button>
        </div>

    </form>


    <form asp-page-handler="Pickup" method="post" id="form-qld" class="state-form" style="display:none;">
        <div>                       
            <label>select an hour</label><br>
            <select asp-for="  pickupDeliveryDTO.Hour " >                          
                    <option value="8">8</option>                  
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
            </select><br>
            <label>between which period</label><br>
            <select asp-for=" pickupDeliveryDTO.Minutes" >
                    <option value="between 00 and 30 minutes ">between 00 and 30 minutes</option>
                    <option value="between 30 minutes and 00 minutes">between 30 minutes and 00 minutes</option>
                                            
            </select><br>
            <label>select a location</label><br>
            <select asp-for="pickupDeliveryDTO.Location" >
                       @foreach (var location in Model.Locations)
                           {
                               <optgroup label="City name">
                        <option value="@location.Name">@location.Name</option>
                             </optgroup>
                             <optgroup label="It's location address'">
                            <option value="@location.Address">@location.Address</option>
                            </optgroup>
                           }
            </select>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </form>
    <div>
        @ViewData["Message"]
    </div>

        <script type="text/javascript">
    $("#state").change(function () {
        let state = this.value; //get state

        $('.state-form').hide(); //hide all forms

        $("#form-" + state).show(); //show only related form
    });
</script>

</body>
