@page
@model WebApp.Pages.MyOrdersModel
@{
}



<body>
<h1>Your Orders</h1>
<p> Your name is @User.Identity.Name</p>
<form method="POST">
    <div class="countainer">
        <table method="POST" class="table">
            <tr>
                <th>Product id</th>
                <th>User id</th>
                <th>Product name</th>
                <th>Product amount</th>
                <th>Product price</th>
                <th>Total price </th>
                <th>Delivery type </th>
                <th>Operation </th>
                <th>Operation </th>







            </tr>

                @{
                    foreach (var item in @Model.productsInCart.Distinct()){
                  
                       
                    
                    <tr>


                        <td>  <input asp-for="orderDTO.Id" type="text" value="@item.Id" id="" placeholder="@item.Id"> </td>
                        <span asp-validation-for="orderDTO.Id"></span>

                        <td>  <input asp-for="orderDTO.User.Name" type="text" value="@User.Identity.Name" id="" placeholder="@User.Identity.Name"> </td>
                        <span asp-validation-for="orderDTO.User.Name"></span>

                        <td> <input asp-for="orderDTO.Products" type="text" value="@item.Item" id="" placeholder="@item.Item">  </td>
                        <span asp-validation-for="orderDTO.Products"></span>

                            <td> @Model.productsInCart.Count(x => x.Id == item.Id) </td>
                        <span asp-validation-for="orderDTO.TotalPrice"></span>

                        <td><input asp-for="@item.Price" type="text" value="  @item.Price" id="" placeholder="@item.Item * @item.Amount">  </td>
                        <span asp-validation-for="orderDTO.TotalPrice"></span>

                            <td> $@((@Model.productsInCart.Count(x => x.Id == item.Id) * item.Price).ToString("0.00"))   </td>
                        <span asp-validation-for="orderDTO.TotalPrice"></span>

                        <td>
                            <select onclick="showForm()" name="">
                                <option value="">Select a type</option>
                                <option value="@Model.delivery">Home delivery </option>
                                <option value="@Model.delivery">Pick up delivery</option>
                               
                            </select>
                        </td>
                        <span asp-validation-for="orderDTO.Delivery"></span>

                       
                        <td>
                                <form asp-page-handler="edit" method="post">
                                    <button class="btn btn-default">Edit</button>
                                </form>

                            </td>
                       
                        <td>
                            <form asp-page-handler="delete" method="post">
                                <button class="btn btn-default">Delete</button>
                            </form>

                        </td>




                        </tr>
                    }
                }

           



            

        </table>
    </div>
 
    @{
        decimal total = 0;
        foreach (var item in Model.productsInCart)
            {
                total += item.Price;
                
            }
            <h1> total price : @total </h1>
    }
    
   
</form>
<div>

<form method="POST" id="formElement" style="display: none;">
    <label>id</label><br>
    <input asp-for="orderDTO.Delivery.Id" type="text" name="id"><br>
    <label>Hour</label><br>
    <input asp-for="orderDTO.Delivery.Hour" type="text" name="Hour"><br>
    <label>Minutes</label><br>
    <input asp-for="orderDTO.Delivery.Minutes" type="text" name="Minutes"><br>
    <label>Address</label><br>
    <input asp-for="orderDTO.Delivery" type="text" name="Address"><br>
    <label>Location</label><br>
    <input asp-for="orderDTO.Delivery" type="text" name="Location"><br>


        </form>
        <script type="text/javascript">
                   function showForm() {
                       document.getElementById('formElement').style.display = 'block';
                   }
        </script>
    </div>

</body>