@page
@model WebAppSynthesis.Pages.PersonalPageModel
@{
}

<li><a asp-page="/MyAllOrders">View my orders</a></li>



<p> Your name is @User.Identity.Name</p>

@*<form asp-page-handler="Orders" method="post" >
    <input name="searchTerm" type="text" palceholder="Search product name" value=""/>
    <input name="searchTerm1" type="text" palceholder="Search product category" />
    <input value="Search" type="submit"  />

</form>*@

<div class="countainer">
    <table method="GET" class="table" id="tblProducts">
        <tr>
            <th>Product id</th>
            <th>Product name</th>
            <th>Product unit</th>
            <th>Product price</th>
            <th>Category name </th>
          

          



        </tr>

        @{

            foreach (var item in @Model.products)
            {
                <tr>


                    <td> <input type="checkbox" id="@item.Id" value="@item.Id"  />@item.Id   </td>
                    <td>@item.Item</td>
                    <td>@item.Unit</td>
                    <td>@item.Price</td>
                    <td>@item.Category.Name</td>


                        <td>
                            <form  method="post">
                            <button type="submit" class="btn btn-default" name="idProduct" value="@item.Id">↑</button>
                            </form>

                        </td>


                    </tr>
            }
        }
        



        

    </table>
</div>
 @* 
<input id="btnSubmit" type="button" value="Submit" />
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var message = "";
            var checkedbox = $("#tblProducts input[type=box]:checked");
            if (checkedbox.length > 0) {
                message += "Selected Products: ";
              
            }
            alert(message);
           
        });
    });
</script>*@





